<h2> Python Basics

I. Cobalah print kalimat "Hello, my name is ***nama anda***" dengan minimal 2 cara: <br>
a.   Print biasa (nama diletakkan langsung dalam string yang di print)<br>
b.  Menggunakan variabel (nama disimpan dulu di variabel)<br>
c.  Menggunakan operator dan variabel<br>
d.  Menggunakan .format()

In [9]:
print ("Hello, my name is Benito")

name = "benito"
print ("Hello, my name is " + name)

name = "musolo"
print ("Hello, my name is", name)

name = "Musolo"
print("Hello, my name is {}".format(name))

Hello, my name is Benito
Hello, my name is benito
Hello, my name is musolo
Hello, my name is Musolo

II. Selesaikan soal cerita berikut menggunakan python:<br>
a.  Jose membeli 4 kotak kelereng, tiap kotak berisi 15 buah kelereng. Kelereng itu akan dibagikan kepada 12 orang temannya, setiap teman akan mendapat ... kelereng.<br>
b.  Hasil dari 8 pangkat 1/3 adalah ...<br>
c.  Catharina memiliki uang sebesar Rp 50.000 untuk dibelanjakan kertas binder, 1 paket kertas binder isi 100 lembar dijual seharga 7500, jika ia ingin membeli berapa kertas binder yang dapat ia beli dengan uang yang ia punya? Berapa kembalian yang diterima?

In [17]:
# Soal a
jumlah_kotak = 4
kelerengdikotak = 15

total_kelereng = jumlah_kotak*kelerengdikotak

temanteman = 12

kelerengperteman = kelerengdikotak*jumlah_kotak//temanteman
print (kelerengdikotak*jumlah_kotak//temanteman)

# Soal b
hasil = 8**(1/3)
print(hasil)

# Soal c

uang = 50000
harga_per_paket = 7500

jumlah_paket = uang // harga_per_paket

total_harga = jumlah_paket * harga_per_paket

kembalian = uang - total_harga

print(f"Catharina dapat membeli {jumlah_paket} paket kertas binder.")
print(f"Kembalian yang diterima adalah Rp {kembalian}.")

5
2.0
Catharina dapat membeli 6 paket kertas binder.
Kembalian yang diterima adalah Rp 5000.

III. Tunjukan cara untuk mengonversi tipe-tipe data berikut:

1. "1000" -> 1000 (string ke int)
2. 5.25 -> 5 (float ke int)
3. 5 -> 5.0 (int ke float)
4. 1000 -> "1000" (int ke string)

Expected output:


![image.png]()

In [26]:
string_ke_int = int("1000")
print(f"{string_ke_int} {type(string_ke_int)}")

float_ke_int = int(5.25)
print(f"{float_ke_int} {type(float_ke_int)}")

int_ke_float = float(5.0)
print(f"{int_ke_float} {type(int_ke_float)}")

int_ke_string = str(1000)
print(f"{int_ke_string} {type(int_ke_string)}")

1000 <class 'int'>
5 <class 'int'>
5.0 <class 'float'>
1000 <class 'str'>

IV. String

"If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."

1. Tampilkan indeks ke 20 sampai 30 dari string di atas (indeks ke 30 ikut)
2. Bagaimana cara memisah string berdasarkan spasi (simpan dalam list)
3. Balik string di atas dengan menggunakan satu baris kode (menggunakan index)

In [32]:
# 1
text = "If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."
substring = text[20:31]
print(substring)


# 2
list_kata = text.split()
print(list_kata)

# 3
reversed_text = text[::-1]
print(reversed_text)

what a man'
['If', 'you', 'want', 'to', 'know', 'what', 'a', "man's", 'like,', 'take', 'a', 'good', 'look', 'at', 'how', 'he', 'treats', 'his', 'inferiors,', 'not', 'his', 'equals.']
.slauqe sih ton ,sroirefni sih staert eh woh ta kool doog a ekat ,ekil s'nam a tahw wonk ot tnaw uoy fI

<h2> Python Data Strcutures

I. Tuple


1.   Buatlah sebuah tuple yang berisikan nama fakultas di UC, simpan dalam variabel "fakultas".
2.   Cetaklah jumlah fakultas di UC dengan mencari panjang tuple yang dibuat.
3.   Gunakan .index() untuk mengetahui posisi/index fakultas SIFT

In [1]:
# Fakultas
fakultas = ("Fakultas Bisnis", "Fakultas Creative Industri", "Fakultas Tourism", "Fakultas Kedokteran", "FKG", "Fikom", "PSY","SEH","SIFT","UC Online")
jumlah_fakultas = len(fakultas)
print("Jumlah fakultas di UC:", jumlah_fakultas)
index_sift = fakultas.index("SIFT")
print("Posisi fakultas SIFT di tuple:", index_sift)

Jumlah fakultas di UC: 10
Posisi fakultas SIFT di tuple: 8

II. List


1.   Buatlah sebuah list berisi 3 nama makanan kesukaanmu. Simpan dalam variabel "favorit".
2.   Cetak nama setiap makanan dengan mengakses setiap elemen dalam list satu persatu.
3. Kamu sedang berada di sebuah restoran dan hendak memesan salah satu menu yang ada dalam daftar favoritmu. Cetak setiap makanan dengan contoh: "Aku ingin pesan {nama makanan}"
4.   Ternyata, salah satu menu tidak tersedia, jadi kamu perlu memesan makanan lain. Ganti salah satu makanan favoritmu yang kosong dengan nama makanan baru (makanan yang mana bebas). Cetak makanan favorit barumu dengan contoh: "Aku ingin mengganti pesananku jadi {nama makanan baru}"

In [3]:
# 1
favorit = ["Bakso", "Sashimi", "Nasi Uduk"]

# 2
for makanan in favorit:
    print(makanan)

# 3
for makanan in favorit:
    print(f"Aku ingin pesan {makanan}")

# 4
favorit[0] = "Spaghetti"  # Changing Bakso with Spaghetti
print(f"Aku ingin mengganti pesananku jadi {favorit[0]}")

Bakso
Sashimi
Nasi Uduk
Aku ingin pesan Bakso
Aku ingin pesan Sashimi
Aku ingin pesan Nasi Uduk
Aku ingin mengganti pesananku jadi Spaghetti

III. Set

1. Buatlah 4 buah set sebagai berikut


    set1 = {1, 2, 3, 4}
    set2 = {2, 4, 6, 8}
    set3 = {5, 7}
    set4 = {2, 3}
2. Gabungkan set1 dan set2 dengan menghilangkan duplicates
3. Buktikan set1 dan set3 tidak mempunyai intersection (output : Boolean)
4. Buktikan set4 adalah bagian dari set1 (output : Boolean)

In [4]:

set1 = {1, 2, 3, 4}
set2 = {2, 4, 6, 8}
set3 = {5, 7}
set4 = {2, 3}

gabungan_set = set1.union(set2)
print(gabungan_set)  # Output: {1, 2, 3, 4, 6, 8}


intersection_exists = not set1.intersection(set3)
print(intersection_exists)  # Output: True

is_subset = set4.issubset(set1)
print(is_subset)  # Output: True

{1, 2, 3, 4, 6, 8}
True
True

<h2> Python Programming Fundamentals

I. Buatlah sebuah program sederhana yang meminta inputan dari user berupa jumlah penggunaan listrik (munculkan error jika input selain angka) dan menghasilkan output berupa tarif yang harus dibayar dengan syarat sebagai berikut:

PLN menerapkan pembayaran listrik perumahan dengan perhitungan sebagai berikut:
* untuk golongan 1 (penggunaan <1000 kWh) tarif : Rp1000/kWh
* untuk golongan 2 (penggunaan >= 1000 kWh) tarif : Rp2000/kWh

Dengan syarat perhitungan:

Minimum pembayaran adalah 100 kWh sedangkan untuk pemakaian 1000 kWh dan seterusnya tarifnya ditambah 10% dari total pembayaran.

(Jika total penggunaan <100 kWh, maka akan dikenakan tarif 100 kWh)

In [ ]:
# Program Bayar Listrik

def hitung_tarif(penggunaan):
    # Menentukan tarif berdasarkan penggunaan
    if penggunaan < 1000:
        tarif_per_kWh = 1000
    else:
        tarif_per_kWh = 2000

    # Minimum penggunaan adalah 100 kWh
    if penggunaan < 100:
        penggunaan = 100

    # Menghitung total pembayaran
    total_pembayaran = penggunaan * tarif_per_kWh

    # Jika pemakaian >= 1000 kWh, tambahkan 10% dari total pembayaran
    if penggunaan >= 1000:
        total_pembayaran *= 1.1

    return total_pembayaran

def main():
    try:
        # Meminta input dari pengguna
        penggunaan = float(input("Masukkan jumlah penggunaan listrik (kWh): "))

        # Menghitung tarif
        total_bayar = hitung_tarif(penggunaan)

        # Menampilkan hasil
        print(f"Total tarif yang harus dibayar: Rp {total_bayar:.2f}")

    except ValueError:
        print("Error: Masukkan angka yang valid.")

# Menjalankan program
if __name__ == "__main__":
    main()

II. Untuk Abdimas Oweek UC digunakan angkot dengan kapasitas 10 orang per angkot. Apabila terjadi kelebihan penumpang (walau hanya 1 orang), angkot yang digunakan ditambah 1. Tulislah program untuk menghitung jumlah angkot yang diperlukan bila jumlah pesertanya menggunakan input().

Catatan, pastikan jika angka yang dimasukkan negatif, muncul peringatan "Jumlah orang tidak bisa negatif!"

In [6]:
# Program Angkot Abdimas UC

def hitung_jumlah_angkot(jumlah_peserta):
    kapasitas_angkot = 10
    if jumlah_peserta <= 0:
        return 0  # Tidak ada angkot jika peserta 0 atau kurang
    # Menghitung jumlah angkot yang diperlukan
    return (jumlah_peserta // kapasitas_angkot) + (1 if jumlah_peserta % kapasitas_angkot > 0 else 0)

def main():
    try:
        # Meminta input dari pengguna
        jumlah_peserta = int(input("Masukkan jumlah peserta: "))

        if jumlah_peserta < 0:
            print("Jumlah orang tidak bisa negatif!")
            return

        # Menghitung jumlah angkot yang diperlukan
        jumlah_angkot = hitung_jumlah_angkot(jumlah_peserta)

        # Menampilkan hasil
        print(f"Jumlah angkot yang diperlukan: {jumlah_angkot}")

    except ValueError:
        print("Error: Masukkan angka yang valid.")

# Menjalankan program
if __name__ == "__main__":
    main()

Masukkan jumlah peserta: -5
Jumlah orang tidak bisa negatif!

<h2> Numpy

1. Buatlah 1D numpy array berisi nama nama hari dalam satu minggu
2. Gunakan sort untuk mengurutkan array sesuai abjad
3. Gunakan random untuk mengambil 1 hari dari array, cetakhlah dalam format: "Selamat hari \<nama hari\> adalah hari baikmu bulan ini!"
4. Buat dan cetaklah matriks 3x4 menggunakan numpy array berisi angka random dari 1-6, lalu cetak shape dan dimensi array
5. Cetaklah elemen kolom ketiga dari matrix

    [[1 ,2, 3, 4],

    [5, 6, 7, 8],

    [9, 10, 11, 12]]
6. Gunakan reshape untuk mengubah matrix di atas menjadi matriks berukuran (2, 6)

In [ ]:
import numpy as np
import random

# 1
# Membuat array nama hari
hari = np.array(['Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu', 'Minggu'])

In [ ]:
# 2
# Mengurutkan array sesuai abjad
hari_sorted = np.sort(hari)
print("Hari-hari dalam seminggu yang telah diurutkan", hari_sorted)

In [ ]:
#3
# Mengambil 1 hari secara acak
hari_acak = random.choice(hari_sorted)
print(f"Selamat hari {hari_acak} adalah hari baikmu bulan ini!")

In [ ]:
# 4. Membuat matriks 3x4 dengan angka random dari 1 hingga 6
matriks = np.random.randint(1, 7, size=(3, 4))
print("Matriks 3x4:")
print(matriks)
print(f"Shape: {matriks.shape}")
print(f"Dimensi: {matriks.ndim}")

In [ ]:
# 5 Mencetak elemen kolom ketiga
kolom_ketiga = matriks[:, 2]
print("Elemen kolom ketiga:")
print(kolom_ketiga)

In [ ]:
# 6 Mengubah matriks menjadi ukuran (2, 6)
matriks_awal = np.array([[1, 2, 3, 4],
                         [5, 6, 7, 8],
                         [9, 10, 11, 12]])
matriks_reshape = matriks_awal.reshape(2, 6)
print("Matriks setelah reshape menjadi (2, 6):")
print(matriks_reshap

<h2> Pandas

1. Buatlah Pandas Series dari list ["Information", "Systems", "for", "Business"]
2. Buatlah Pandas Dataframe dari dictionary
{ "brand": "Ford", "model": "Mustang", "year": 1964 }

In [5]:
import pandas as pd

# 1
import pandas as pd

data_list = ["Information", "Systems", "for", "Business"]
series = pd.Series(data_list)

print("Pandas Series:")
print(series)



# 2
data_dict = { "brand": "Ford", "model": "Mustang", "year": 1964 }
dataframe = pd.DataFrame([data_dict])  # Membungkus dictionary dalam list

print("\nPandas DataFrame:")
dataframe

Pandas Series:
0    Information
1        Systems
2            for
3       Business
dtype: object

Pandas DataFrame:

  brand    model  year
0  Ford  Mustang  1964

3. Import dataset berikut kedalam dataframe.    
dataset : https://raw.githubusercontent.com/GTerrence/dataset/main/50_Startups.csv.xls
4. Tunjukan kota apa saja yang ada dalam dataset tersebut
5. Buatlah dataset baru yang menyimpan 10 row random dari dataset. Kemudian tunjukanlah 5 row pertamanya.
6. Gunakan df.info() untuk melihat informasi singkat dari dataframe
7. Tampilkan data 'R&D Spend' dan 'Marketing Spend' dari data yang berasal dari kota 'California'
8. Temukan apa ada missing value dari setiap kolom
9. Drop data yang memiliki profit di bawah 50000
10. Urutkan Dataframe berdasarkan biaya marketing mulai dari terbesar ke terkecil

In [10]:
# 3
import pandas as pd

# Mengimpor dataset dari URL

df = pd.read_csv("https://raw.githubusercontent.com/GTerrence/dataset/main/50_Startups.csv.xls")

# Menampilkan 5 baris pertama dari DataFrame
print("5 Baris Pertama dari DataFrame:")
print(df.head())

5 Baris Pertama dari DataFrame:
   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [11]:
# 4
kota_unik = df['State'].unique()
print("\nKota yang ada dalam dataset:")
print(kota_unik)

Kota yang ada dalam dataset:
['New York' 'California' 'Florida']

In [12]:
# 5
df_random = df.sample(n=10, random_state=1)

print("\n5 Baris Pertama dari Dataset Random:")
print(df_random.head())

5 Baris Pertama dari Dataset Random:
    R&D Spend  Administration  Marketing Spend       State     Profit
27   72107.60       127864.55        353183.81    New York  105008.31
35   46014.02        85047.44        205517.64    New York   96479.51
40   28754.33       118546.05        172795.67  California   78239.91
38   20229.59        65947.93        185265.10    New York   81229.06
2   153441.51       101145.55        407934.54     Florida  191050.39

In [13]:
# 6
print("\nInformasi Singkat dari DataFrame:")
print(df.info())

Informasi Singkat dari DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB
None

In [14]:
# 7
california_spend = df[df['State'] == 'California'][['R&D Spend', 'Marketing Spend']]
print("\nR&D Spend dan Marketing Spend dari Kota California:")
print(california_spend)

R&D Spend dan Marketing Spend dari Kota California:
    R&D Spend  Marketing Spend
1   162597.70        443898.53
6   134615.46        127716.82
9   123334.88        304981.62
11  100671.96        249744.55
13   91992.39        252664.93
16   78013.11        264346.06
20   76253.86        298664.47
25   64664.71        137962.62
32   63408.86         46085.25
34   46426.07        210797.67
37   44069.95        197029.42
39   38558.51        174999.30
40   28754.33        172795.67
42   23640.93        148001.11
44   22177.74         28334.72
47       0.00             0.00
49       0.00         45173.06

In [15]:
# 8
missing_values = df.isnull().sum()
print("\nMissing Values di Setiap Kolom:")
print(missing_values)

Missing Values di Setiap Kolom:
R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [16]:
# 9
df_cleaned = df[df['Profit'] >= 50000]
print("\nJumlah Data Setelah Menghapus Profit di Bawah 50000:")
print(df_cleaned.shape[0])

Jumlah Data Setelah Menghapus Profit di Bawah 50000:
46

In [17]:
# 10
df_sorted = df_cleaned.sort_values(by='Marketing Spend', ascending=False)
print("\nDataFrame Setelah Diurutkan Berdasarkan Biaya Marketing:")
print(df_sorted.head())

DataFrame Setelah Diurutkan Berdasarkan Biaya Marketing:
   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

<h2> Data Cleaning

1. Import dataset berikut ke dalam dataframe.   
   dataset : https://raw.githubusercontent.com/GTerrence/dataset/main/real_estate.csv
2. Tampilkan 10 data random dari dataset di atas
3. Cari informasi data dengan menggunakan fungsi describe
4. Hapus kolom 'No' dan ubahlah nama kolom dalam dataframe menjadi 'transaction_date', 'house_age', 'distance_to_the_nearest_MRT_station', 'number_of_convinience_stores', 'latitude', 'longitude', 'house_price_of_unit_area'
5. Cek apakah ada missing values dari masing-masing kolom

In [21]:
# 1
import pandas as pd

# Mengimpor dataset dari URL
df = pd.read_csv("https://raw.githubusercontent.com/GTerrence/dataset/main/real_estate.csv")

In [22]:
# 2
# Menampilkan 10 data random dari dataset
print("10 Data Random dari Dataset:")
print(df.sample(10))

10 Data Random dari Dataset:
      No  X1 transaction date  X2 house age  \
156  157             2013.583          30.7
269  270             2013.000          17.6
242  243             2012.833           2.0
44    45             2013.583           2.7
381  382             2013.417           8.0
312  313             2013.583          35.4
246  247             2013.417          16.4
67    68             2013.500           8.5
75    76             2013.500          12.3
160  161             2012.917           3.5

     X3 distance to the nearest MRT station  X4 number of convenience stores  \
156                              1264.73000                                0
269                               837.72330                                0
242                              2077.39000                                3
44                                533.47620                                4
381                               132.54690                                9
312                               318.52920                                9
246                               389.82190                                6
67                                104.81010                                5
75                               1360.13900                                1
160                                49.66105                                8

     X5 latitude  X6 longitude  Y house price of unit area
156     24.94883     121.52954                        18.3
269     24.96334     121.54767                        23.0
242     24.96357     121.51329                        33.4
44      24.97445     121.54765                        53.9
381     24.98298     121.53981                        47.3
312     24.97071     121.54069                        78.0
246     24.96412     121.54273                        40.6
67      24.96674     121.54067                        56.8
75      24.95204     121.54842                        29.5
160     24.95836     121.53756                        57.8

In [23]:
# 3
print("\nInformasi Data Deskriptif:")
print(df.describe())

Informasi Data Deskriptif:
               No  X1 transaction date  X2 house age  \
count  414.000000           414.000000    414.000000
mean   207.500000          2013.148971     17.712560
std    119.655756             0.281967     11.392485
min      1.000000          2012.667000      0.000000
25%    104.250000          2012.917000      9.025000
50%    207.500000          2013.167000     16.100000
75%    310.750000          2013.417000     28.150000
max    414.000000          2013.583000     43.800000

       X3 distance to the nearest MRT station  \
count                              414.000000
mean                              1083.885689
std                               1262.109595
min                                 23.382840
25%                                289.324800
50%                                492.231300
75%                               1454.279000
max                               6488.021000

       X4 number of convenience stores  X5 latitude  X6 longitude  \
count                       414.000000   414.000000    414.000000
mean                          4.094203    24.969030    121.533361
std                           2.945562     0.012410      0.015347
min                           0.000000    24.932070    121.473530
25%                           1.000000    24.963000    121.528085
50%                           4.000000    24.971100    121.538630
75%                           6.000000    24.977455    121.543305
max                          10.000000    25.014590    121.566270

       Y house price of unit area
count                  414.000000
mean                    37.980193
std                     13.606488
min                      7.600000
25%                     27.700000
50%                     38.450000
75%                     46.600000
max                    117.500000

In [24]:
# 4
df.drop(columns=['No'], inplace=True)

# Mengubah nama kolom
df.columns = [
    'transaction_date',
    'house_age',
    'distance_to_the_nearest_MRT_station',
    'number_of_convinience_stores',
    'latitude',
    'longitude',
    'house_price_of_unit_area'
]

print("\nDataFrame Setelah Mengubah Nama Kolom:")
print(df.head())

DataFrame Setelah Mengubah Nama Kolom:
   transaction_date  house_age  distance_to_the_nearest_MRT_station  \
0          2012.917       32.0                             84.87882
1          2012.917       19.5                            306.59470
2          2013.583       13.3                            561.98450
3          2013.500       13.3                            561.98450
4          2012.833        5.0                            390.56840

   number_of_convinience_stores  latitude  longitude  house_price_of_unit_area
0                            10  24.98298  121.54024                      37.9
1                             9  24.98034  121.53951                      42.2
2                             5  24.98746  121.54391                      47.3
3                             5  24.98746  121.54391                      54.8
4                             5  24.97937  121.54245                      43.1

In [25]:
# 5
missing_values = df.isnull().sum()
print("\nMissing Values dari Masing-masing Kolom:")
print(missing_values)

Missing Values dari Masing-masing Kolom:
transaction_date                       0
house_age                              0
distance_to_the_nearest_MRT_station    0
number_of_convinience_stores           0
latitude                               0
longitude                              0
house_price_of_unit_area               0
dtype: int64